/* body */
body{
    background: #FFF;
    font-family: 'Merriweather', serif;
}
/* header section */
header{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("../resources/Banner\ Image.png");
    background-repeat: no-repeat;
    /* filter: brightness(7.04px); */
    /* filter: contrast(10%); */
    border-radius: 16px;
    margin-top:50px ;
    margin-bottom:120px ;
    margin-left: auto;
    margin-right: auto;
    width: 1320px;
    height: 600px;
}
.head-title{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 100px 530px 0px;
}
.head-des{
    color: #ffffff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 
    padding: 2px 344px 177px;
    /* max-width: 632px;
    max-height: 190px; */
}
/* MAIN section */

/* first section */
.first{
    text-align: center;
}
.off{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.offer{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
}
.style{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}
/* second section */
.second{
    background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("../resources/Vectorrr.png");
    display: flex;
    background-repeat: no-repeat;
    background-position: bottom right,top left;
    max-width: 1320px;
    max-height: 3000px;
    margin: 120px auto;
    justify-content: left;
    border-radius: 20px;
}
/* .img{
    max-width: 319.83px;
    max-height: 464.662px;
} */
.welcome{
    color: #FFF;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin: 50px 0 10px 40px;
    max-width: 640px;
    
}
.party-des{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 20% 10px 40px;
}
.btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0 0 40px;
    background-color: transparent;
}
/* third section */

.third{
    max-width: 1320px;
    max-height: 482px;
    margin: 120px auto;
    text-align: center;
    padding: 110px 0px 200px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    
}
.style{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.third-des{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.third-btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: #FF0000;
    padding: 16px 32px;
    border-radius: 5px;
}
/* forth section */
.forth{
    display: flex;
    justify-content: center;
    max-width: 1320px;
    max-height: 482px;
    background-color: #FFF;
    margin: 120px auto;
    gap: 5%;
}
.first-content-intro{
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.first-content-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.first-content-details{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 600px; 
    max-height: 125px; 
}
.second-content{
    border-radius: 463px;
    border: 15px solid #F00;
    /* padding: 463px; */
}
.second-content-image{
    max-width: 364.844px;
    max-height: 364.844px;
    padding: 20px;
}
.third-content-title{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.third-content-details{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}
.third-content-image{
    max-width: 140px;
    max-height: 140px;
}

.functional{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.holiday{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}
.holi{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.functional-des{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    max-width: 1068px;
    margin: 0 auto;
}

/* seventh section */
.seventh{
    /* margin : 1600px 7335px; */
    background: #FFF;

}
.portfolio-text{
    margin: 120px auto 0;
    max-width: 1320px;
    max-height: 3000px;
}
.gifts{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.portfolio{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.portfolio-des{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
}
.portfolio-images1{
    display: flex;
    width: 1320px;
    margin: 48px auto 24px;
    gap: 24px;
}
.portfolio-images2{
    display: flex;
    width: 1320px;
    margin: 48px auto 24px;
    gap: 24px;
}

.img-size{
    width: 424px;
    height: 450px;
    border-radius: 16px;
}
.portfolio-images1:hover img{
    transform: scale(1.1);
}
.portfolio-images2:hover img{
    transform: scale(1.1);
}
/* Eighth section */
.eighth{
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 120px auto 0;
}
.email{
    padding: 60px 585px 10px;
    width: 150px;
    height: 150px;
}
.subscribe{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.subscribe-des{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    padding: 0px 212px;
}
.email-sec{
    /* margin: 0 auto; */
    /* display: inline-block; */
    text-align: center;
}
.email-field{
    width: 400px;
    height: 50px;
    /* border-radius:50px 0 0 50px; */
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border: none;
}
.subs-btn{
    width: 250px;
    height: 50px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    margin-left: -5px;
}
footer{
    width: 1600px;
    height: 609px;
    background-color: #070211;
    margin: 120px auto 0;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.address{
    display: flex;
    justify-content: space-between;

}
.location{
    padding: 120px 0 0 140px;
    max-width: 375px;
}
.contact{
    padding: 120px 140px 0 0;
    max-width: 375px;
}
.phn{
    display: flex;
}
.web{
    display: flex;
}
.contact-icon{
    width: 24px;
    height: 24px;
}
.contact-info{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.phn-icon{
    margin-top: 128px;
}
.hr{
    width: 1320px;
    height: 1px;
    color:#FFFFFF26;
    margin: 0 140px;
}
.link-section{
    gap: 24px;
    padding: 48px 620px;
}
.last{
    display: flex;
    justify-content: space-around;
}


